p {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-gap: 20px;
    margin-right: 10%;
    min-height: 0;
    min-width: 0;
}

.grid-item {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: grid;
    grid-template-rows: [poster] 270px [title] 30px [rating] 30px;
    font-size: 30px;
    width: 180px;
    height: 330px;
}

.grid-content {
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.poster {
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.poster:hover {
    opacity: 0.8;
}

.poster img {
    background-size: cover;
    overflow: hidden;
}

.title {
    margin-top: 10px;
    text-align: left;
}

.rating {
    display: grid;
    grid-template-columns: [star] 20px [value] 150px;
}

.rating-value {
    margin-top: 5px;
    margin-left: 10px;
    opacity: 0.4;
    text-align: left;
}

#welcome {
    font-size: 2rem;
    font-weight: bold;
}

#username {
    color: rgb(0,193,236);
}