body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color:rgb(0,193,236);
    text-decoration: none;
    font-weight: bold;
}

label {
    padding: 5px;
    font-size: 0.75rem;
    font-weight: bold;
    color: #878787;
}

button {
    border: none;
    border-radius: 5px;
}

textarea:focus, input:focus {
    outline: none;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    opacity: 0.8;
    font-size: 0.75rem;
}

input[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }

input[type="file"] + label {
    background-color: #a1a1a1;
    text-align: center;
    font-weight: normal;
    color: white;
    padding: 12px;
    margin: 0 0 0 10px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding-left: 2rem 4rem;
}

input[type="file"] + label:hover {
      opacity: 0.8;
}

.register-form {
    margin: 3% auto auto auto;
    margin-bottom: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 25%;
    min-width: 300px;
}

.profile-picture-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px
}

.container {
    padding: 16px;
}

.center-text {
    text-align: center;
}

.input-message {
    font-size: 0.75rem;
}

.space {
    padding: 8px;
}

#register-title {
    padding: 25px;
}

#register-button {
    background-color: rgb(0,193,236);
    border: 0 none;
    border-radius: 5px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

#register-button:hover {
    opacity: 0.8;
}

#register-text {
    font-size: 0.75rem;
}

#browse-button {
    background-color: #a1a1a1;
    color: white;
    padding: 12px;
    margin: 0 0 0 10px;
    cursor: pointer;
    width: 100%;
    font-size: 0.875rem;
}

#profile-picture-name {
    background-color: white;
}

#confirm-password:focus {
    outline: 0;
}