img {
    max-height: 100%;
    max-width: 100%;
}

.grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100px auto;
    grid-gap: 20px;
    margin-top: 2%;
    margin-right: 10%;
    min-height: 100%;
    min-width: 0;
}

.ticket-info-container {
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 30px auto;
    margin-right: 60.5%;
    min-height: 0;
    min-width: 0;
}

.back-icon {
    overflow: hidden;
    cursor: pointer;
}

.grid-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 0;
    min-width: 0;
}

.grid-body {
    box-sizing: border-box;
    display: inline-grid;
    grid-template-rows: 40px 130px 100px;
    grid-template-columns: 150px calc(100vw - 1000px);
    margin-top: -15%;
    width: fit-content;
    min-height: 0;
    min-width: 100%;
}

@media only screen and (max-width: 1287px) {
    .grid-body {
        box-sizing: border-box;
        display: inline-grid;
        grid-template-rows: 40px 130px 100px;
        grid-template-columns: 150px auto;
        margin-top: -15%;
        width: fit-content;
        min-height: 0;
        min-width: 100%;
    }
}

.grid-rating {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    white-space: nowrap;
    margin-right: 30px;
    min-height: 0;
    min-width: 0;
}

.grid-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 4.5%;
    min-height: 0;
    min-width: 0;
}

.grid-button {
    display: grid;
    grid-area: 3 / 1 / span 1 / span 2;
    flex-wrap: row;
    justify-content: flex-end;
    margin-top: 5%;
    height: auto;
    width: auto;
    min-height: 0;
    min-width: 0;
}

.star-container {
    height: 100%;
    cursor: pointer;
}

.star {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.star-icon {
    width: 30px;
}

.ticket-info {
    margin-top: 10px;
    margin-left: 40px;
    font-weight: bold;
    width: 100%;
}

#reviewUser{
    position: relative;
    width: calc(100%);
    height: calc(100%);
    padding: 20px;
    margin-left: 1.1%;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    outline: none;
    overflow: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 13px;
    min-height: 28px;
    min-width: 20px;
    resize: none;
}

#title {
    font-size: 1.75rem;
    white-space: nowrap;
}

#rating {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 8px;
    white-space: nowrap;
}

#review {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 30px;
    white-space: nowrap;
}

#cancel {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 5px;
    color: grey;
    width: 100px;
    height: 35px;
}

#submit {
    background-color: #12abde;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 35px;
}