html {
    min-width: 800px;
    min-height: 100%;
    height: 100%;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow: visible;
}

p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

img {
    max-height: 100%;
    max-width: 100%;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    padding: 8px;
    margin: 3px;
}

/* clear X in search field from IE */
input[type="search"]::-ms-clear {  
    display: none; 
    width : 0; 
    height: 0; 
}

input[type="search"]::-ms-reveal {  
    display: none; 
    width : 0; 
    height: 0; 
}

/* clear X  in search field from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}


.navbar {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    min-height: 70px;
    z-index: 2;
    overflow: visible;
}

.navbar-wrapper{
    display: inline-flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-grow: 1;
    margin-left: 10%;
    margin-top: 1.1%;
    width: 80%;
    min-height: 70px;
}

.content {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10%;
    padding-left: 8%;
    padding-bottom: 8%;
    min-height: 100%;
    height: auto;
    z-index: 1;
}

.search-bar {
    border: 1.5px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    direction: row;
    margin-right: 18%;
    width: 30%;
    min-width: 150px;
    height: 50%;
}

.navbar-button {
    cursor: pointer;
    font-weight: bold;
}

.navbar-button:focus {
    outline: 0;
}

.grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-right: 10%;
    min-height: 0;
    min-width: 0;
}

.grid-item {
    background-size: cover;
    background-position: center;
    border-bottom: 1.5px solid #e8e8e8;
    display: grid;
    grid-template-columns: [poster] 120px [history] auto;
    padding-bottom: 20px;
}

.grid-content {
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.poster {
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 6%;
    margin-top: 5%;
}

.title {
    font-size: 1.5rem;
}

.schedule {
    margin-top: 2%;
}

.review-submit {
    color: #a1a1a1;
    font-size: 0.8rem;
}

.review-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#schedule-text {
    color: rgb(0,193,236);
}

#schedule-time {
    margin-left: 2%;
}

#navbar-title {
    margin-right: 8%;
    font-size: 1.5rem;
}

#homepage-title {
    color: rgb(0,193,236);
}

#search-input {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 7px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 3px;
    width: 92%;
    height: 100%;
}

#search-input:focus {
    outline: 0;
}

#search-icon {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
    width: 20px;
    height: 20px;
    opacity: 0.4;
}

#transactions-button {
    font-size: 1rem;
    margin-top: 6px;
    margin-right: 8%;
    margin-bottom: 0;
    height: 1rem;
}

#logout-button {
    font-size: 1rem;
    margin-top: 6px;
    margin-right: 10%;
    height: 1rem;
}

#delete-review {
    background-color: #e31212;
    display: none;
}

#edit-review {
    background-color: #35b056;
    display: none;
}

#add-review {
    background-color: #12abde;
    display: default;
}